.App {
  text-align: center;
}



.App-title{
  font-size: 150%;
  color: #111010;
  font-family: "Lobster", Times, serif;
  font-size-adjust: 0.58;
  
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #151616;
}

.Background{
  
  background-color: #e0cb83;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  font-size: 18px;
  background-color: #e96161!important;

    padding-bottom: 15px;
     /* Full-height: remove this if you want "auto" height */
  
}



.sidenav {
  font-size: 18px;
    background-image: radial-gradient(circle at top left, #ebcc89, #d7da60);
    padding-bottom: 10px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffc107a1; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 150px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #070707;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.content { 
  margin: 0 10% 10% 10%;
  
}

.img {
  text-align: center;
}

.logout{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px;
}

.box{
  background: linear-gradient(to right, #000046, #1cb5e0);
}

.second-navbar {

  margin-top: 50px;
  color: #b4aeae;
  background-image: radial-gradient(circle at top left, rgb(253, 253, 249), #f3f3f3); 
  height: 80px;
  padding-top: 38px;
    padding-right: 120px;
    padding-bottom: 20px;
    padding-left: 10px;
  user-select: none;
  

}

.add-rmargin{
  margin-right: 200px;
}

.Modal{
  background-color: #F77458;
}
.margin-a{
  margin-right: 100px;
  color: #f8f5f5;
  margin-block-start: 20px;
  margin-block-end: 5px
}
.margin-b{
  margin-left: 10px; 
  color: #f8f5f5;
  margin-block-start: 10px;
  margin-block-end: 5px
}
.margin-c{
  margin-left: 200px;
  margin-block-start: 3px;
  color: #f8f7f7;
  background-color: #e02a12
  
  
}
